body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1ea2e7;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #1e2447;
}

p {
    color: #131733;
}

div {
    background-color: #1481d7;
    margin: 30px auto;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    
    width: 90%;
    max-width: 700px;
    min-width: 300px;
    min-height: 120px;
    
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}

button {
    background-color: #1ea2e7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #046abc;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1ea2e7;
    padding: 15px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-btn {
    padding: 8px 16px;
    background: #1ea2e7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.footer-btn:hover {
    background: #046abc;
}